<div class="container box text-center">
    <div class="title">
        <h1>Bienvenid@ al Juego de las Parejas</h1>
    </div>

    <div class="body home-content">
        <div class="row justify-content-center ">
            <div class="col-md-0 col-lg-3">
                <img src="../../../assets/LogoUPM.png" class="img-fluid home-cards lateral-l">
            </div>
            <div class="col-md-12 col-lg-3">
                <img src="../../../assets/homeCards.png" class="img-fluid home-cards">
            </div>
            <div class="col-md-0 col-lg-3">
                <img src="../../../assets/miw.png" class="img-fluid home-cards lateral-r">
            </div>
        </div>
        <br>
        <h3>Proyecto para la asignatura FENW del Máster MIW</h3>
        <h4>Autor: Miguel Ángel Sánchez Ordaz</h4>
    </div>
</div>