<div class="container box preferences">
    <div class="title text-center">
        <h3>Registro</h3>
    </div>

    <div class="body">
        <form class="form-preferences" [formGroup]="signupForm">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input id="username" type="text" class="form-control" formControlName="username"
                    placeholder="Escriba su nombre de usuario">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="emai" type="email" class="form-control" formControlName="email"
                    placeholder="Escriba su email">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input id="password" type="password" class="form-control" formControlName="password"
                    placeholder="Escriba su contraseña">
            </div>
            <div class="form-group">
                <label for="password-rep">Repetir Contraseña</label>
                <input id="password-rep" type="password" class="form-control" formControlName="repeatPassword"
                    placeholder="Repita su contraseña">
            </div>
            <button type="button" [disabled]="(signupForm.invalid && signupForm.dirty) || signupForm.pristine"
                class="btn btn-miw-secondary" (click)="signup()">Registro de usuario</button>
        </form>
    </div>
</div>